.card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: hsl(0, 0%, 80%);
    width: 30%;
    max-height: 100%;
}

.card .card-image{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: auto;
    border: 1px solid black;
    object-fit:cover;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 100%;
    }
}