.carousel {
    background-color: #ccebe2;
}

.carousel  h3 {
    background-color: black;
    color: whitesmoke;
    margin: auto;
    width: 40%;
}

.carousel  p {
    background-color: black;
    color: whitesmoke;
    margin: auto;
    margin-bottom: 20px;
    width: 40%;
}

.carousel .slide{
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .carousel  h3 {
        margin: auto;
        width: 90%;
    }
    
    .carousel  p {
        margin-bottom: 5px;
        width: 90%;
    }
}