/* Styling for Facebook icon is in PageStyling.css */

/* Styling for Footer */
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(194, 192, 192);
  font-size: 20px;
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-top: 40px;
}
