/* Styling for Footer */
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(194, 192, 192);
  font-size: 20px;
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-top: 20px;
}

div img {
  height: 45px;
  margin: 10px;
  background-color: black;
} 

.follow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  font-size: 20px;
}
/* Facebook Link */

.footer-links {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: black;
}