.company-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #08a8f9;
    font-weight: 900;
    font-size: 40px;
    border-bottom: none;
    background-color: whitesmoke;
  }
  
  .nav {
    border-bottom: 4px #df016b solid;
    background-color: whitesmoke;
    
  }