section {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

section h2 {
    background-color: black;
    color: #d7d1bf;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    margin: 20px 40px;
  
}

section p {
    background-color: black;
    color: #d7d1bf;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    margin: 20px 40px;
}

hr {
    border: solid #46cfcd 1px;
    margin:0;
    padding: 0px 10px;
}

.mom {
    display: inline;
    margin: 20px;
    max-width: 50%;
    border-radius: 10px;
    border: 1px solid black;
}

.dad {
    display: inline;
    margin: 20px;
    max-width: 50%;
    border-radius: 10px;
    border: 1px solid black;
}

.images-about {
    display: flex;
    height: 300px;
    padding: 20px;
    justify-content: center;
    background-color: black;
}

